.signUpCard{
    margin-top: 100px;
    margin-bottom: 150px;
    background-color: aliceblue;
    border-radius: 25px;
}

.SignUpForm{
    margin-top: 5%;
    margin-bottom: 5%;
}


.imageDiv{
    padding: 5%;
    background-color: black;
}

