
.text{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

  .card{
    background-color: #fff;
    width: 280px;
    border-radius: 33px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    padding: 2rem !important;
  }

  .header{
    background-image:linear-gradient(180deg, rgba(117,117,117,0.8127626050420168) 12%, rgba(83,83,83,0.8099614845938375) 31%, rgba(0,0,0,0.8015581232492998) 96%), url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
  }

  .pageCaption{
    padding-top: 170px; padding-bottom: 174px;
  }

  .profileTitle{
    font-size: 46px; 
    line-height: 1; 
    color: #fff; 
    font-weight: 800; 
    text-align: center;

  }